<form class="form update-form" method="POST" action="{% url 'adjust_bag' item.product_size_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <!-- Decrement Button -->
            <button type="button" class="btn btn-sm btn-black rounded-0" 
                    onclick="decrementQuantity('{{ item.product_size_id }}')">
                <i class="fas fa-minus fa-sm"></i>
            </button>

            <!-- Quantity Input -->
            <input class="form-control form-control-sm qty_input" type="number" 
                   name="quantity" value="{{ item.quantity }}" min="1" max="99" 
                   id="id_qty_{{ item.product_size_id }}">

            <!-- Increment Button -->
            <button type="button" class="btn btn-sm btn-black rounded-0" 
                    onclick="incrementQuantity('{{ item.product_size_id }}')">
                <i class="fas fa-plus fa-sm"></i>
            </button>
        </div>
    </div>
    <button type="submit" class="btn btn-info btn-sm">Update</button>
</form>
<a href="{% url 'remove_from_bag' item.product_size_id %}" class="text-danger"><small>Remove</small></a>


<script>
    function incrementQuantity(productSizeId) {
        var qtyInputId = 'id_qty_' + productSizeId;
        var qtyInput = document.getElementById(qtyInputId);
        if (qtyInput.value < 99) {
            qtyInput.value = parseInt(qtyInput.value) + 1;
        }
    }

    function decrementQuantity(productSizeId) {
        var qtyInputId = 'id_qty_' + productSizeId;
        var qtyInput = document.getElementById(qtyInputId);
        if (qtyInput.value > 1) {
            qtyInput.value = parseInt(qtyInput.value) - 1;
        }
    }
</script>