
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid #eaeaea;
    border-radius: 10px;
    /* padding-bottom: 10px; */
}

.card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
}

.card-img-top {
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0;  
    width: auto;
    height: 220px; 
    max-width: 100%; /* To prevent the image from overflowing the card */
    max-height: 100%; /* To prevent the image from overflowing the card */ 
}

.card-body {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.card-body p {
    margin-bottom: 5px;
    font-size: 16px; 
    color: #333; /* A darker color for better readability */
}

.card-footer {
    /* background: linear-gradient(to right, #f9f9f9, #ececec); */
    height: 110px;
}

.card-body p, .card-footer p {
    font-family: 'Arial', sans-serif; 
}

.size-price-container {
    display: flex;
    /* justify-content: space-between;  */
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.card-footer a {
    color: #0c899c; 
    text-decoration: none;
}

.add-to-bag-btn {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100%; /* Optional: make the link take full width of the parent container */

    margin: 5px 0;
    
    font-size: 14px; 
    font-weight: bold;
        
    background: #f9f9f9;    
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    
    cursor: pointer; /* Changes cursor to pointer to indicate it's clickable */
   
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    
}

.add-to-bag-btn:hover {
    background-color: #f8edd0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.card-size-price, .card-icon-text {
    margin: 5px 0; 
    padding: 0; 
}

.card-size-price .size, 
.card-size-price .price, 
.card-icon-text .card-icon-text {
    flex: 0 0 auto; /* Do not grow, do not shrink, and base size on content */
    
    align-items: center; /* Align text and icon vertically in the center */
    /* justify-content: center; Center content horizontally */
}

.clicked {
    background-color: #f8edd0;     
}

.card-extra {
    padding-top: 10px;
    padding-left: 20px;
    height: 50px;
}

.card-bottom {
    padding-left: 20px;
    padding-bottom: 5px;
}






@media (max-width: 768px) {

    .product-container {
        margin: auto;
        padding: 0;
        offset: 0;
    }

    .card {
        /* margin-bottom: 20px; */
    }
}
